
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab:wght@200&display=swap');

:root{
    --main-color:white;
    --dark-color: black;
    --secondary-color: goldenrod;

}

body{
    background-color: var(--dark-color);
    color: var(--main-color);
    font-family: 'Roboto',sans-serif;
}

header{
    background-color: var(--secondary-color);
}
header p{
    margin: 0;
    padding: 1em 0;
    display: flex;
    justify-content: center;
}